#sidebar .tgl_btn{
    visibility: collapse;
}

@media only screen and (max-width: 414px){
    .boy1{
        visibility:collapse;
    }
    .boy2{
        visibility:collapse;
            }

      #info{
        visibility:collapse;
      }
      #sidebar .tgl_btn{
        visibility: visible;
      }

      .about_page{
        display:flex;
   
         
      }
    }

  