
.myworks{
  display:grid;
  
   }
   .wrapWorks{
    position: absolute;
    height:690px;
    width:100%;
    top:-60px;
   }
   
   #myworks-head{
    position: absolute;
    left:650px;
    top:-130px;
    font-size:50px;
    font-family: 'Poppins',Arial,sans-serif;
    transform:translateY(110px);
    color:rgb(152, 122, 16);
   
   }
.countdown, .breakout, .memorygame, .molegame{
  position:absolute;
}
   .countdown{
    height:60px;
    width:300px;
    position: absolute;
    top:200px;
    left:180px;
    display:flex;
    justify-content: center;
    place-items: center;
    
    }
     .CD{
    position:absolute;
    color:#252525;
    font-size:30px;
  
     }
    
 

       .CD:hover,.MG:hover, .WAM:hover, .BO:hover{
        color:rgb(152, 122, 16);
      
      
       }
    
     
       .memorygame{
        height:60px;
        width:300px;
        display:flex;
        justify-content: center;
        align-items: center;
        left:615px;
        top:200px;
       }
       .MG{
        position:absolute;
        color:#252525;
        font-size:30px;
        
         }
    
    

       .molegame{
        height:60px;
        width:300px;
        display:flex;
        justify-content: center;
        align-items: center;
        left:1000px;
        top:198px;
       }
    
    .WAM{
      position:absolute;
      color:#252525;
      font-size:30px;
       }
    

      .breakout{
        height:60px;
        width:300px;
        display:flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left:170px;
        top:500px;

       }
    
    .BO{
      position:absolute;
      color:#252525;
      font-size:30px;
       }