.social{
    padding-right:15px;
    color:#303030;
}


#instagram:hover{
    color:#c80f56;
}
#facebook:hover{
    color:	#4267B2
}
#twitter:hover{
    color:	#4267B2;
}
#github:hover{
    color: #171515 ;
}

footer{
    font-size:15px;
    text-align:center;
    margin-top:120px;
    
}
.socialAccs{
    position: absolute;
    top:555px;
}
.my-social-accs{
    font-size:28px;
}

.contact-thru-socials{
    position:absolute;
    transform:translate(255px,465px);
   
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#social-sites-line{
    position: absolute;
    width:170px;
   
    border-radius:0; 
    border-width: 0 0 1px 0;
    border-style: none none solid none;
    transform:translate(265px,510px);
  
    
}


.mypi{
    padding:30px;
    font-size:25px;
}

#mypi-phone{
    font-size:18px;
    position:absolute;
    transform: translate(290px,-552px);

}
#mypi-address{
    font-size:18px;
   position:absolute;
    transform: translate(290px,-452px);
}
#mypi-gmail{
    position:absolute;
    font-size:18px;
    transform: translate(290px,-352px);
}
.position-call{
position:absolute;
transform: translate(230px,-555px);
}
.position-add{
     position:absolute;
     transform: translate(230px,-455px);
}

.position-gmail{
        position:absolute;
        transform: translate(230px,-355px);
 }

.copyRight{
   position: absolute;
   left:-250px;
   top:500px;
 }
 .mypi {
 padding-top: 0px;
 padding-left: 0px;
 padding-bottom: 0px;
 padding-right: 0px;
 height: 0px;
 width: 0px;
 }