.grid{
position: absolute;
    width:560px;
    height:300px;
    border:solid 1px;
}

.block{
    position:absolute;
    width:100px;
    height:25px;
    background-color: rgb(28, 133, 133);
    border:solid 1px;
    border-style:hidden;
 
}

.uBlock{
    position:absolute;
    width:100px;
    height:25px;
    background-color: rgb(80, 20, 80);
    border:solid 1px;
    border-style:hidden;
    
}

.ball{
    width:20px;
    height:20px;
    position:absolute;
    background-color:  rgb(38, 133, 79);
    border-radius: 10px;
}